#cookie-home-1{
    height:318px;
    width:288px;
    background-image: url('../images/white_choc-739.png');
    background-size: 288px 318px;
}

#cookie-home-1:hover{
    height:318px;
    width:288px;
    background-image: url('../images/white_choc-qv_739.png');
    background-size: 288px 318px;
}

#cookie-home-2{
    height:318px;
    width:288px;
    background-image: url('../images/oatmeal_bites.png');
    background-size: 288px 318px;
}

#cookie-home-2:hover{
    height:318px;
    width:288px;
    background-image: url('../images/oatmeal_bites-qv.png');
    background-size: 288px 318px;
}

#cookie-home-3{
    height:318px;
    width:288px;
    background-image: url('../images/jam_poppy.png');
    background-size: 288px 318px;
}

#cookie-home-3:hover{
    height:318px;
    width:288px;
    background-image: url('../images/jam_poppy-qv.png');
    background-size: 288px 318px;
}

#cookie-1{
    height:318px;
    width:288px;
    background-image: url('../images/jam_poppy.png');
    background-size: 288px 318px;
}

#cookie1:hover{
    height:318px;
    width:288px;
    background-image: url('../images/jam_poppy-qv.png');
    background-size: 288px 318px;
}

#cookie-0{
    height:318px;
    width:288px;
    background-image: url('../images/jam_poppy.png');
    background-size: 288px 318px;
}

#cookie-0:hover{
    height:318px;
    width:288px;
    background-image: url('../images/jam_poppy-qv.png');
    background-size: 288px 318px;
}


#cookie-1{
    height:318px;
    width:288px;
    background-image: url("../images/poppy_seeds.png");
    background-size: 288px 318px;
}

#cookie-1:hover{
    height:318px;
    width:288px;
    background-image: url("../images/poppy_seeds-qv.png");
    background-size: 288px 318px;
}

#cookie-2{
    height:318px;
    width:288px;
    background-image: url("../images/oatmeal_bites.png");
    background-size: 288px 318px;
}

#cookie-2:hover{
    height:318px;
    width:288px;
    background-image: url("../images/oatmeal_bites-qv.png");
    background-size: 288px 318px;
}

#cookie-3{
    height:318px;
    width:288px;
    background-image: url("../images/soft_butter.png");
    background-size: 288px 318px;
}

#cookie-3:hover{
    height:318px;
    width:288px;
    background-image: url("../images/soft_butter-qv.png");
    background-size: 288px 318px;
}


#cookie-4{
    height:318px;
    width:288px;
    background-image: url("../images/parm_780.png");
    background-size: 288px 318px;
}

#cookie-4:hover{
    height:318px;
    width:288px;
    background-image: url("../images/parm_780-qv.png");
    background-size: 288px 318px;
}


#cookie-5{
    height:318px;
    width:288px;
    background-image: url("../images/white_choc.png");
    background-size: 288px 318px;
}

#cookie-5:hover{
    height:318px;
    width:288px;
    background-image: url("../images/white_choc-qv.png");
    background-size: 288px 318px;
}


#cookie-6{
    height:318px;
    width:288px;
    background-image: url("../images/jam_bites.png");
    background-size: 288px 318px;
}

#cookie-6:hover{
    height:318px;
    width:288px;
    background-image: url("../images/jam_bites-qv.png");
    background-size: 288px 318px;
}


#cookie-7{
    height:318px;
    width:288px;
    background-image: url("../images/choc_chips.png");
    background-size: 288px 318px;
}

#cookie-7:hover{
    height:318px;
    width:288px;
    background-image: url("../images/choc_chips-qv.png");
    background-size: 288px 318px;
}


#cookie-8{
    height:318px;
    width:288px;
    background-image: url("../images/nuts_caramel.png");
    background-size: 288px 318px;
}

#cookie-8:hover{
    height:318px;
    width:288px;
    background-image: url("../images/nuts_caramel-qv.png");
    background-size: 288px 318px;
}


#cookie-9{
    height:318px;
    width:288px;
    background-image: url("../images/butter.png");
    background-size: 288px 318px;
}

#cookie-9:hover{
    height:318px;
    width:288px;
    background-image: url("../images/butter-qv.png");
    background-size: 288px 318px;
}


#cookie-10{
    height:318px;
    width:288px;
    background-image: url("../images/pecan_nuts.jpg");
    background-size: 288px 318px;
}

#cookie-10:hover{
    height:318px;
    width:288px;
    background-image: url("../images/pecan_nuts-qv.jpg");
    background-size: 288px 318px;
}


#cookie-11{
    height:318px;
    width:288px;
    background-image: url("../images/seeds.jpg");
    background-size: 288px 318px;
}

#cookie-11:hover{
    height:318px;
    width:288px;
    background-image: url("../images/seeds-qv.jpg");
    background-size: 288px 318px;
}


